{% extends 'base.html' %}

{% block head_content %}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        document.getElementById("log").style.visibility = 'hidden'; 
        var $add_favorites_form = $('#add_game_to_favorites');
        $add_favorites_form.submit(function (event) {
            event.preventDefault(); 
            $.ajax({
                url : $add_favorites_form.attr('action'), 
                type : 'POST',
                dataType : 'json',
                data: $add_favorites_form.serialize(),
            }).done(function (response) {
                document.getElementById("log").value = response["log"];
                document.getElementById("log").style.visibility = 'visible'; 
            });
        });
    });
</script>
{% endblock %}

{% block body_content %}
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>Game Information</h1>
            <p> Get information of any game which is available at Steam. </p>
        </header>


        <div class="12u">

            <hr/>
            {% if response %}

            <div class="row uniform">
                <div class="9u 12u$(small)">
                    <input type="text" name="log" id="log" />
                </div>
            </div>

            <div class="12u" id="add_favorite_form">
                <form id="add_game_to_favorites" method="post" action="{{ url_for('add_game_to_favorites') }}">
                    <input type="hidden" name="game_id" value="{{ response.steam_appid }}">
                    <input type="hidden" name="game_name" value="{{ response.game_name }}">
                    <button type="Submit">Add the game to favorites</button>
                 </form>
            </div>

            <div class="game_information">
                Game Name: {{ response.name }}
                <br>
                Is free: {{ response.is_free }}
                <br>
                Short Description: 
                <div>
                    {{ response.short_description|safe }}
                </div>
                <br>
                Detailed Description:
                <div>
                    {{ response.detailed_description|safe }}
                </div>
                <br>

                Screenshots: 
                <br>
                {% for screenshot in response.screenshots %}
                    <img src="{{ screenshot.path_thumbnail }}" />
                    <br>
                {% endfor %}

                Categories: 
                <br>
                {% for category in response.categories %}
                    {{ category.description }}
                    <br>
                {% endfor %}

                <!-- TODO: Maybe show reviews and minimum requirements -->

            </div>

            {% endif %}
        </div>
    </div>
</section>
{%  endblock %}