{% extends 'base.html' %}

{% block head_styles %}
<style>
    .status-update {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .status-update form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .status-update button {
        margin-top: 1em;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    @media screen and (min-width: 768px) {
        .status-update {
            height: auto;
        }

        .status-update form {
            flex-direction: row;
        }

        .select-wrapper {
            margin: 2em;
        }

        .status-update button {
            margin-top: 0;
        }
    }
</style>
{% endblock %}

{% block body_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#resolved").click(function(){
            $(this).html("Loading...");
            $.post("/change_status/resolved", function(data){
                if (data.error) {
                    alert(data.error);
                }
                else if (data.message) {
                    location.reload();
                }
            });
            setTimeout(() => {
                $(this).html("Mark as Resolved");
            }, 2000);
        });

        $("#investigating").click(function(){
            $(this).html("Loading...");
            $.post("/change_status/investigating", function(data){
                if (data.error) {
                    alert(data.error);
                }
                else if (data.message) {
                    location.reload();
                }
            });
            setTimeout(() => {
                $(this).html("Mark as Investigating");
            }, 2000);
        });
    });
</script>
<section id="main" class="wrapper">
    <div class="inner">
        <div class="row">
            <div class="6u 12u$(medium)">
                <iframe src="https://tcorp.instatus.com/" width="100%" height="800" frameborder="0"></iframe>
            </div>
            <div class="6u$ 12u$(medium)" style="display: flex; justify-content: center; align-items: center;">
                <div class="status-update">
                    <div style="display: flex; justify-content: center; align-items: center;"> 
                        <h2>Current Status: {{ status }}</h2>
                    </div>
                    <button id="resolved" type="button">Mark as Resolved</button>
                    <button id="investigating" type="button">Mark as Investigating</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
