{% extends 'base.html' %}

{% block body_content %}

<!-- Banner -->
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Elements - Intensify by TEMPLATED</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="subpage">


<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>Weather App</h1>
			<p>Ready for calling a web service which returns the content of weather condition for a given city.</p>
        </header>


        <div class="12u">

            <hr/>

            <form method="post" action="{{ url_for('weather') }}">
                <p>To see the list of cities, visit the <a href="https://en.wikipedia.org/wiki/Lists_of_cities_by_country" target=”_blank”> <i>link.</i></a></p>
                <div class="row uniform">
                    <div class="6u 12u$(small)">
                        <input type="text" name="city" id="city" value="" placeholder="type city like Istanbul"/>
                    </div>
                    <div class="3u$ 12u$(small)">
                        <input type="submit" value="Search" class="fit"/>
                    </div>
                </div>
            </form>  
                {% if response %}
            

                <form method="POST" action="{{ url_for('save_weather') }}">
                    <div class="row uniform">
                        <div class="9u 12u$(small)">
                            <table>
                                <tr>
                                  <th>City</th>
                                  <th>Condition</th>
                                  <th>Temperature</th>
                                  <th>Pressure</th>
                                  <th>Humidity</th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="city" id="city" value={{ response.city }} readonly/>  
                                    </td>
                                    <td>
                                        <input type="text" name="condition" id="condition" value={{ response.condition }} readonly/>
                                    </td>
                                    <td>
                                        <input type="text" name="temp" id="temp" value={{ response.temp }} readonly/>
                                    </td>
                                    <td>
                                        <input type="text" name="pressure" id="pressure" value={{ response.pressure }} readonly/>
                                    </td>
                                    <td>
                                        <input type="text" name="humidity" id="humidity" value={{ response.humidity }} readonly/>
                                    </td>
                                  </tr>
                            </table>

                        </div>
                        <div class="3u$ 12u$(small)">
                            <input type="submit" value="Save Info" class="fit"/>
                        </div>
                    </div>
                </form>
                {% endif %}{% if error %}
                <div class="row uniform">
                  <div class="9u 12u$(small)">
                    <h3>{{error}}</h3>
                  </div>
                </div>
                {% endif %}{% if succeed_message %}
                <div class="row uniform">
                  <div class="9u 12u$(small)">
                    <h3>{{succeed_message}}</h3>
                  </div>
                </div>
                {% endif %}

                
            


        </div>
    </div>

    </div>
</section>


</body>
</html>

{%  endblock %}