@tailwind base;
@tailwind components;
@tailwind utilities;

#app-container {
    height: 100%;
    top: 70px;
    position: absolute;
    left: 18%;
    width: 82%;
}


.btn {
    background-color: #00c8ff;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #00b31e;
  }

.sidebar {
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    top: 70px;
    width: 18%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: 350ms;
    z-index: 10;
    overflow-y: auto;
    backdrop-filter: blur(5px);
}

.submenu {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style: none;
    height: 60px;
    text-decoration: none;
}

.top-bar{
    background-color: #B46060;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    display: flex;
}

.container {
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

/* .post-container {
    padding-bottom: 5px;
    margin: 20px;
    width: auto;
    text-align: center;
    background-color: #FFBF9B;
    border-radius: 20px;
    height: auto;
} */

.profile-photo img {
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 50%;
}

.text {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.footer {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr ;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.suggestion-container {
    width: auto;
    text-align: center;
    background-color: #FFBF9B;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.suggestion-container .profile-photo {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-left: 5px;
}

.suggestions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #4D4D4D;
    border-radius: 20px;
}

.posts {
    background-color: #4D4D4D;
    border-radius: 20px;
}
